[Unit]
Description=Mincontrol service
After=syslog.target network.target

[Service]
User=hosting
# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory=/opt/mincontrol/target
#path to executable. 
#executable is a bash script which calls jar file 
ExecStart=/opt/mincontrol/target/mincontrol.jar
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target